*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'font-family: 'Montserrat', sans-serif;
}

.block1{

margin-top: 40px;
margin-bottom: 40px;   
}

.block2{

    padding: 40px;
    padding-right: 30px;
    padding-left: 30px;
    
}

button{
    background-color: rgb(255, 211, 114);
    border: 1px solid rgb(204, 231, 70);
    border-radius: 20px;
    color: white;
    width: 200px;
    height: 40px;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;

}
.submit img{
    width: 10px;
    height: 20px;
    margin-left: 10px;
}

.block2 h2{
    font-size: 36px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.block2 h3{
    font-size: 28px;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
}

.block2 p{
    font-size: 18px;
    margin: 30px;
    margin-left: 30px;
    font-family: 'Montserrat', sans-serif;
}

.img2{
    width: 40%;
    height: 100%;
}

.conteiner{
display: flex;
justify-content: space-between;
align-items: center;
background-color: rgb(246, 248, 249);
width: 100%;

}

